* {
    margin: 0px;
    padding: 0px;
}
.view-main {
    height:1000px;
    background-image: linear-gradient(to bottom, #a1b5e4, #ec80d7);
}
.view-main-in {
    height: 100%;
    width: 80%;
    margin: 0px auto;
    background-color:rgba(255,255,255,0.3);
    padding-top:10px;
}
.view-content {
    width: 97%;
    height: 200px;
    background-color: #fff;
    margin: 0px auto 20px;
    max-height:200px;
    overflow: auto;
}